@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Londrina+Sketch&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root{
  --yellow: rgb(255, 230, 0)
}

body {
  background-color: rgb(12, 12, 12);
  transition: background 0.2s linear;
}

.nav{
  width: 100%;
  height: 6rem;
  background-color: rgb(12, 12, 12);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;

}

.nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 300px;
  gap: 50px;
}

.nav ul li a{
  font-size: 30px;
  font-family: 'Bebas Neue', sans-serif;
  color: yellow;
  text-decoration: none;
}

.nav ul li a:hover{
  color: white;
  text-decoration: underline yellow;
  
}

.logo{
  margin-left: 50px;
}
.logo img{
  width: 12rem;
  height: auto;
}

/*------------- Botão Alternar Modo Dark e Light ------------*/
body.light {
  background: rgb(161, 161, 161);
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #242424;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: relative;
  height: 1.5rem;
  width: 3.2rem;
  transform: scale(1.5);
  margin-top: 5px;

}


.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 3px;
  height: 1.2rem;
  width: 1.2rem;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

/*--------------------Banner--------------------------*/
.banner{
  margin-top: 6rem;
}

.banner img{
  width: 100%;
  height: auto;
}

/*------------ cardSynopsis --------------------*/
@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.cardSynopsis {
  margin-left: 100px;
  padding-right: 50px;  
  width: 60rem;
  height: 35rem;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column; /* Para organizar o conteúdo interno */
  font-size: 1.5em;
  color: #fff; /* Cor do texto */
}

.cardSynopsis.light{
  color: black;
}

.cardSynopsis::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  padding: 3px;
  background: linear-gradient(var(--rotate), #ff0000, #ff6f00 43%, #ffea00);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: spin 2.5s linear infinite;
  z-index: -1;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.content{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.highlight{
  background-color: red;
  font-family: 'Bebas Neue', sans-serif;
  text-shadow: 2px 2px 4px black;
}

.imageMidoriya{
  left: 5px;
  position: relative;
}
/*---------- synopsisAndWatch ----------------*/
.synopsisAndWatch{
  display: flex;
  flex-direction: row;
  margin-top: 150px;
}

.synopsis{
  color: white;
  margin-left: 150px;
  margin-top: 30px;
  font-size: 40px;
  font-family: 'Bebas Neue', sans-serif;
}

.synopsis p{
  color: yellow;
}

.synopsis p1{
  color: orange;
}

.synopsis p2{
  color: red;
}

.synopsis p3{
  color: rgb(0, 102, 255);
}

.streaming{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 50px;
}

.nameStreaming{
  font-size: 35px;
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin-top: 10px;
}

.logoStreaming{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.logoStreaming img{
  width: 70px;
  height: auto;
}

/*----------- Characters ------------*/

.midoriyaCharacter{
  font-family: 'Bebas Neue', sans-serif;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 150px;
}

.midoriyaCharacter img{
  width: 50rem;
  height: auto;
}

.information{
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 150px;
}

.information h2{
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 40px;
}
.highlight2{
  background-color: red;
  font-size: 40px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}

/*Typing Effect*/

#typing-effect{
  margin-top: 80px;
  margin-left: 250px;
}
#typing-effect p {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 40px;
  color: white;
  display: inline-block;
  position: relative;
  padding-right: 0.3rem;
  white-space: pre;
}

@keyframes blink {
  50% {
      opacity: 0;
  }
}


/*Button Character - Izuko Midoriya*/
.buttonCharactersMidoriya{
  display: flex;
  justify-content: end;
  position: relative;
  margin-right: 350px;
  bottom: 6rem;
}

button#characters {
  width: 10rem;
  height: 5rem;
  font-size: 25px;
  font-family: 'Bebas Neue', sans-serif;

  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 270px;
  font-weight: bold;
  padding: 14px 0px;
  border: 3px solid var(--yellow);
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: var(--yellow);
  background: transparent;
  text-decoration: none;
  transition: 0.3s ease all;
}

button#characters:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: red;
  z-index: -1;
}

button#characters:hover:before,
button#characters:focus:before {
  left: 0;
  right: 0;
  opacity: 1;
}

button#characters:hover,
button#characters:focus {
  color: white;
  border: none;
}

/* Section Characters - Other Heroes*/

.otherHeroes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
}

.allMight, .todoroki, .hawks, .bakugou, .uraraka{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.allMight img, .todoroki img, .hawks img, .bakugou img, .uraraka img{
  width: 16rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 5px;
}

button#heroes{
  width: 10rem;
  height: 4rem;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  color: var(--yellow);
  border: 3px solid var(--yellow);
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  transition: 0.3s ease all;
}

button#heroes:hover{
  background-color: red;
  color: white;
  border: red;
}

/*Favorites Episodes*/

.favoriteEpisodes{
  margin-top: 150px;
  margin-left: 100px;
  font-family: 'Bebas Neue', sans-serif;
}
.favoriteEpisodes h1{
  color: white;
  font-size: 70px;
}

.favoriteEpisodes .name{
  display: flex;
  flex-direction: row;
  font-size: 30px;
  color: white;
  gap: 30px;
  margin-top: 50px;
  margin-left: 50px;
  text-decoration: underline yellow;
}

.favoriteEpisodes .name img{
  width: 70px;
}

.episodeSynopsis{
  color: white;
  margin-left: 150px;
  letter-spacing: 2px;
}

.episodeSynopsis h5{
  color: var(--yellow);
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: var(--yellow);
}

.episodeSynopsis p{
  font-size: 30px;
  margin-top: 20px;
}

.episodeSynopsis p::before {
  content: "• ";
  color: yellow;
  font-size: 1.2em; 
  margin-right: 5px; 
}

.video{
  position: relative;
  display: flex;
  justify-content: end;
  margin-right: 100px;
  bottom: 30rem;
}

.secondEpisode, .thirdEpisode{
  margin-top: -250px;
}

/*Formulário*/

.contactForm{
  background-color: transparent;
  border: 3px solid rgb(255, 0, 43);
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  width: 60rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-left: 250px;
  margin-top: -550px;
  border-radius: 20px;
  gap: 20px;
}

.contactForm h2{
  font-size: 40px;
  margin-top: 50px;
  margin-right: 250px;
}

.contactForm input{
  width: 30rem;
  height: 2rem;
  margin-right: 100px;
  border-radius: 5px;
  padding-left: 10px;
  background-color: rgb(189, 189, 189);
}
.contactForm ::placeholder{
  font-size: 15px;
}

.contactForm textarea{
  width: 30rem;
  height: 5rem;
  margin-right: 100px;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 5px;
  background-color: rgb(189, 189, 189);
}

.form img{
  position: relative;
  left: 253px;
  bottom: 70px;
}

button#Submit{
  width: 100px;
  height: 2.5rem;
  margin-right: 300px;
  margin-top: 10px;
  font-size: 25px;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
  color: rgb(255, 0, 43);
  border: 3px solid rgb(255, 0, 43);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

/*-----------Footer----------------*/
footer{
  background-color: #ff4000;
  width: 100%;
  height: 12rem;
  display: flex;
  flex-direction: row;
  margin-top: 200px;
  color: white;
  font-size: 20px;
  font-weight: 100;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
  padding-left: 250px;
  padding-top: 50px;
  gap: 250px;
  cursor: pointer;
}
.footerNav a{
  color: white;
  text-decoration: none;
}
.linkedin, .gitHub{
  display: flex;
  flex-direction: row;
  gap: 15px;
  color: white;
  text-decoration: none;
}

.linkedin a, .gitHub a{
  color: white;
}
.social img{
  width: 40px;
  height: 40px;
  object-fit: cover;
}

/*------------------------ MOBILE -----------------------------*/
@media (max-width: 768px){
  body{
    margin: 0;
    overflow-x: hidden;
  }
  .nav{
    height: 80px;
    background-color: rgb(255, 77, 0);
   
  }
  .logo img{
    width: 8rem;
    margin-top: 6px;
  }
  
  .banner img{
    height: 20rem;
    object-fit: cover;
    position: relative;
    bottom: 16px;
  }
  
  .synopsisAndWatch{
    display: flex;
    flex-direction: column;
    margin-left: -120px;
    bottom: 100px;
    position: relative;
  }
  
  .cardSynopsis{
    display: flex;
    flex-direction: column;
    margin-top: 50px;  
    height: auto;
    width: 350px;
    margin-left: 140px;
    padding-left: 15px;
  }
  
  .responsive-text {
    width: 100%; /* Garante que o texto ocupe toda a largura disponível */
    font-size: 4vw; /* Ajuste dinâmico do tamanho da fonte */
    line-height: 1.4; /* Melhor espaçamento entre linhas */
    word-break: break-word; /* Quebra palavras longas para não ultrapassarem a tela */
    overflow-wrap: break-word; /* Garante que palavras grandes sejam divididas */
  }
  
  .responsive-text {
    font-size: 5vw; /* A fonte será 5% da largura da tela */
  }
  
  .imageMidoriya img{
    display: none;
  }
  
  .midoriyaCharacter{
    display: flex;
    flex-direction: column;
  }
  
  .midoriyaCharacter img{
    width: 400px;
    height: auto;
    top: -205px;
    margin-bottom: -300px;
    position: relative;
  }
  
  .information h2{
    font-size: 25px;
  }
  
  .highlight2{
    font-size: 25px;
    margin-left: 50px;
  }

  .buttonCharactersMidoriya{
    width: 15rem;
    margin-top: 30px;
  }

  button#characters{
    height: 3rem;
    left: 75px;
    font-size: 20px;
    top: 100px;
  }

  #typing-effect p{
    margin-left: -230px;
    font-size: 30px;
    }

  .otherHeroes{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  button#heroes{
    margin-bottom: 50px;
    margin-top: -20px;
  }

  .favoriteEpisodes{
    margin-left: 40px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .favoriteEpisodes h1{
    font-size: 45px;
    }

  .name img{
    display: none;
  }

  .favoriteEpisodes h2{
    font-size: 30px;
    margin-left: -50px;

  }

  .favoriteEpisodes p{
    font-size: 20px;
    margin-left: -150px;
  }

  .favoriteEpisodes h5{
    font-size: 20px;
    margin-left: -150px;
  }

  .video{
    width: 100px;
    height: 200px;
    top: 50px;
    left: 200px;
  }

  .firtsEpisode{
    margin-bottom: 500px;
  }

  .secondEpisode{
    margin-bottom: 500px;
  }

  .thirdEpisode{
    margin-bottom: 500px;
  }

  .form img{
    display: none;
  }

  .form{
    margin-top: 400px;
    margin-left: -230px;
  }

  .contactForm{
    width: 350px;
    gap: 50px;
  }

  .contactForm label{
    display: none;
  }

  .contactForm h2{
    font-size: 30px;
    width: 100%;
    margin-right: 5px;
    text-align: center;
    margin-top: 15px;
  }

  .contactForm input, .contactForm textarea{
    width: 300px;
    margin-right: 25px;
  }

  button#Submit{
    margin-right: 130px;
    bottom: 20px;
    position: relative;
  }

  .footerNav{
    margin-top: -40px;
    font-size: 18px;
    position: relative;
    right: 230px;
    }

  .dev{
    font-size: 18px;
    position: relative;
    right: 450px;
  }
  .social{
    font-size: 18px;
    position: relative;
    right: 670px;
  }
}
